.card{
    border-color:black;
}

#potionName1, #potionName2, #potionName3, #potionName4, #potionName5{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2px;
}


.navbar{
    background-color:darkslategrey;
    box-shadow: 0 5px 80px rgba(0,0,0,0.1);
    color:black;
}

.mainText{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}