/* Add a global reset to remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size and font family */
body {
  font-family: "Harry Potter", cursive;
  font-size: 16px;
}

/* Add responsive styles */
.container {
  max-width: 800px; /* Limit container width for larger screens */
  padding: 0 20px; /* Add some padding to the sides */
  margin: 0 auto; /* Center the container horizontally */
}

/* Adjust font size for smaller screens */
.question-label {
  font-size: 2rem; /* Adjust as needed */
}

/* Apply different font size for smaller screens */
@media screen and (max-width: 768px) {
  .question-label {
    font-size: 1.5rem;
  }
}

/* Apply different font size for even smaller screens */
@media screen and (max-width: 576px) {
  .question-label {
    font-size: 1.2rem;
  }
}

/* Make the select inputs responsive */
select {
  width: 100%; /* Expand to fill the container */
}

/* Adjust button size for smaller screens */
button {
  padding: 10px 20px; /* Increase padding */
}

/* Apply different button size for smaller screens */
@media screen and (max-width: 576px) {
  button {
    padding: 8px 16px; /* Decrease padding */
  }
}
