body {
  /* font-family: "Dancing Script";
  font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
}

.spell {
  background-image:none;
  color: white;
}

#image-spell {
  width:400px;
  height:200px;
}

#description{
  color: white;
}

#thicker{
  font-weight:900;
}

#container{
  background-color:black;
}

/* #card{
  
} */