body {
  
}

.spell {
  background-image:none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


#image-spell {
  width:400px;
  height:200px;
}

#description{
  color: white;
}

#thicker{
  font-weight:900;
}

#container{
  background-color:black;
}

